body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  /* no horizontal scroll */
  overflow-x: hidden;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


/*display when hover */

.how_it_works {
  display: inline-block; 
  border-radius: 50%;
  text-align: center;
  margin: 2rem;
  padding: 10rem;
  background-color: green;
}
p.show_on_hover {
  opacity: 0; 
  font-size: 1rem;
   text-decoration: none;
}

img.hide_on_hover {
  opacity: 1; 
}
img.hide_on_hover:hover {
  opacity: 0; 
}

p.show_on_hover:hover {
  opacity: 1; 
}

/*footer style*/
.under_h5 {
  border: 1px solid white; 
  margin-top: 0px; 
  margin-bottom: 10px;
  margin-right: 15px;
}

/* circle size and shape */
.circles_size_position {
  /*margin-bottom: 10rem;*/
  background-color: green;
}
/* subtitle for 3 pieces */
.subtitle {
  color: black; 
  background-color: white;
  font-size: 1.1rem;
  margin-bottom: 20%;
  margin-right: 10%;
  margin-left: 10%;
}

@media only screen and (max-width: 760px) {
  .under_h5 {
    margin-right: 20rem;
    margin-left: 20rem;
  }
}